#addRegisterForm{
	max-width: 800px;
  padding: 16px;
  background-color: rgba(226, 242, 255, 0.5);
}
.addCovidPage{
	background: url("https://wallpaperaccess.com/full/11207.jpg") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 900px;
}

#addCovidPage{
	background: url("https://wallpaperaccess.com/full/11207.jpg") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 900px;
}

.addcovidTitle{
	color: rgb(4, 12, 231);
	margin: auto;
	width: 60%;
	margin-right: 10px 0px;
    margin-left: 250px;
}
#searchRegisterVaccineForm{
    max-width: 700px;
    height:650px;
    padding: 16px;
    background-color: rgba(226, 242, 255, 0.5);
  }
   
  #searchTfeeForm{
    max-width: 700px;
    height:600px;
    padding: 16px;
    background-color: rgba(226, 242, 255, 0.5);
  }

  .displayTable {
    border-collapse: collapse;
    width: 50%;
}
  
.displayTable ,tr,td{
    border: 1px solid rgb(34, 32, 32);
    text-align: left;
}
  
.table td{
    padding:15px;
}
  
.table tr:nth-child(even)
{
   background-color: #e5f3f7;
}
   
.table tr:nth-child(odd)
{
   background-color: #e5f3f7;
}
.table th:nth-child(odd){
    background-color:#dcdfcb;
}
.table th:nth-child(even){
    background-color: #dcdfcb;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FFD700;
    color: rgb(80, 42, 35);
}
.detailsBox
{
    position:absolute;
    top:12%;
    left:10%;
   
    width:1050px;
    height:920px;
    padding:80px 40px;
    box-sizing:border-box;
    background:rgba(0,0,0,.5);
}

.textColour {
    color: rgb(55, 30, 30);
    font-weight: bold;
}

hr {
    width: 50%;
    height: 500px;
   
    margin-left: auto;
    margin-right: auto;
    background-color: #fc0606;
  }

input:invalid {
    border: 2px solid red;
}

input{
    border: 2px solid grey;
}


#offerTable td {
    text-align: center;
    padding: 10px;
    text-align: left;
}

#faqTable {
    border: 3px solid rgb(23, 6, 87); 
    margin-left: -10px;
    width: 100%;
    font-size: larger;
    font-weight: bolder;   
}

#faqTable th {
    padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #0f3e74;
        color: white;
}

#faqTable td {
    padding: 8px;
}

#faqTable tr:hover {
    background-color: #ddd;
}

.CustomerOffer {
background-image: url("../pages/offer_cs/back.png");
min-height: 600px;
}

.addAboutPage{
	background: url("https://media.istockphoto.com/photos/modern-computerlaptop-with-blank-screen-on-counter-barand-window-view-picture-id1157789866?b=1&k=20&m=1157789866&s=170667a&w=0&h=XDdkkxtHlghnmrdl8NGE_GlRcPlOFLJkAlZa8N4E5Jg=") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 1000px;
}

.addAPage{
	background: url("https://media.istockphoto.com/photos/hand-of-male-putting-wood-cube-block-with-word-value-on-wooden-table-picture-id1291599098?b=1&k=20&m=1291599098&s=170667a&w=0&h=dRpFRh43Zlu1GHY089Sey9IOSKNNBcrAnyHmFgvDy0Y=") no-repeat center center fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 1000px;
}