.home{
    background-color:rgb(180, 180, 180);
    height: 65px;
} 
.homeImage{
    margin: auto;
    display: block;
    width: 100%;
}

h1{
    text-align: center;
    font-family: Georgia, serif;
}

.homeContent{
    font-size: 17px;
    background-color:aliceblue;
}